<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  
  <a class="navbar-brand" href="#">
    <img src="assets/ship.png" width="35" height="35" class="d-inline-block align-center mr-1" alt="">
    Gra w statki
  </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="singleplayer">Gra z botem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="multiplayer">1 vs 1</a>
        </li>
      </ul>
      <ul *ngIf="isLoggedIn" class="navbar-nav mr-5">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user?.displayName}}
    </a>
            <div class="dropdown-menu" aria-labelledby="navDropDownLink">
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </li>
    </ul>
    </div>
  </nav>