<div class="bg-image"></div>

<div class="container mt-5">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Rejestracja</h3>
			</div>
			<div class="card-body">
				<form #userRegForm="ngForm" (ngSubmit)="signup(userRegForm)">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
            <input ngModel #firstName="ngModel" name="firstName" type="text" class="form-control" id="firstName" placeholder="Nazwa użytkownika">
          </div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
            <input ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Email">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
            <input ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="Hasło">
          </div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
            <input ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="Powtórz hasło">
					</div>
					<div class="form-group">
						<input type="submit" value="Zarejestruj" class="btn float-right login_btn">
          </div>
          
				</form><div class="row" *ngIf="authError">
            <div class="col-12 alert-message">{{ authError?.message }}</div>
          </div>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Masz już konto?<a class="links-a" href="/login"><b>Zaloguj się</b></a>
				</div>
			</div>
		</div>
	</div>
</div>