.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  width:100%;  
  height:100%; 
  background-size: cover;  
  -moz-background-size: cover;  
  -o-background-size: cover;
  position: fixed;
  background-image: url("/assets/mapa_skarbow_brazowy.png");
}
.myModal {
  max-width: 600px;
  width: 600px;
}

.btn{
  font-size: 20px;
  font-family: 'Potta One', cursive;
}
.text-center{
  font-size: 22px;
  font-family: 'Potta One', cursive;
}
.modal-header{
  font-weight: bold;
  font-size: 22px;
  font-family: 'Potta One', cursive;
}
h5 {
    font: 33px sans-serif;
    margin-top: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    color: #dfdfdf;
    margin-bottom: 20px;
}

h5 :before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

h5  span {
    background: #fff;
    padding: 0 15px;
}

.room-list{
    margin-bottom: 20px;
    margin-top: 10px;
}

.room-number {
    margin-right: 5px;
}

.room-number a:hover{
    color: #fff;
    cursor: pointer;
}

.game-loader{
    margin-left: 40%;
}


h2 {
  font-size: 50px;
  }
  
  .player-heading{
    font-family: 'Potta One', cursive;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    width: 48%;
    margin: auto;
  }
  
  .current-player{
    border-bottom: 10px solid rgb(97, 97, 97);
  }
  
  .heading-row{
    margin-bottom: 60px;
  }
  
  .app-players {
    padding: 15px;
  }
  
  .game-container {
    width: 60%;
    margin: auto;
  }
  
  .game-grid{
    height:50%;
    width: 80%;
  }
  
  .game-grid tr {
    overflow: hidden;
  }
  
  .game-grid td {
    cursor: pointer;
    overflow: hidden;
    height:100px;
    width:100px;
    font-size: 43px;
    font-weight: 600;
    color: #616161;
  }
  .grid-1 {
    border-right:solid 10px rgba(21, 20, 20, 0.29);
    border-bottom:solid 10px rgba(21, 20, 20, 0.29);
  }
  .grid-2 {
    border-right:solid 10px rgba(21, 20, 20, 0.29);
    border-bottom:solid 10px rgba(21, 20, 20, 0.29);
  }
  
  .grid-3 {
    border-bottom:solid 10px rgba(21, 20, 20, 0.29);
  }
  
  .grid-4 {
    border-right:solid 10px rgba(21, 20, 20, 0.29);
    border-bottom:solid 10px rgba(21, 20, 20, 0.29);
  }
  
  .grid-5 {
    border-right:solid 10px rgba(21, 20, 20, 0.29);
    border-bottom:solid 10px rgba(21, 20, 20, 0.29);
  }
  
  .grid-6 {
    border-bottom:solid 10px rgba(21, 20, 20, 0.29);
  }
  
  .grid-7 {
    border-right:solid 10px rgba(21, 20, 20, 0.29);
  }
  .grid-8 {
    border-right:solid 10px rgba(21, 20, 20, 0.29);
  }

.container1 {
  display: inline;
  justify-content: space-between;
}
.ship-box
{
  position:relative;
}
.ship-drop-wrapper
{
  position:absolute;
  top:0;
}
.ship-box-cell
{
  width:40px;
  height:40px;
  background-color:transparent;
}
.ship-list, #board {
  width: auto;
}
.row1
{
  display:inline-block;
}
.cell
{
   width: 40px;
  height: 40px;
}
.bt-cell
{
  width: 40px;
  height:40px;
}
.ship-box, .bt-cell{
  height: 40px;
  cursor: move;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  position: relative;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.bt-cell:hover{
  background-color:red;
}
.ship-box-set-horizontally
{
  position:relative;
  height: 40px;
  z-index:100;
  border:1px solid;
}

.ship-box-set-vertically
{
  position:relative;
  left: 4px;
  width: 40px;
  z-index:100;
  border:1px solid;
  display: flex;
}
.ship-box-set
{
  position:relative;
  z-index:100;
  border:1px solid;

}
.ship-drop-wrapper-set-horizontally
{
  height: 40px;
}
.ship-drop-wrapper-set-vertically
{
  width: 40px;
}
.ship-box-cell-set
{
  width:40px;
  height:40px;
  border:1px solid;
  display:inline-block;
  background-color:transparent;
  background-color:brown;
}


.grid-user {
  width: 420px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.grid div {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  
}

.class.ship-box-flex-vertically {
  display: flex;
}

.cell-size{
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  box-sizing: border-box;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  background-color: rgba(0,0,0,0.2);
}

.player-board-ship-true{
  z-index: 100;
  background-color: rgb(145, 76, 64);
  border-style: solid;
  border-width: 1px;
}
.player-board-ship-false{
  border-style: solid;
  border-width: 1px;
}

.computer-board-ship-noaction{
  cursor: url(/assets/Bomb.cur),auto;
}
.computer-board-ship-hit{
  z-index: 100;
  background-color: red;
  border-style: solid;
  border-width: 1px;
  
}
.computer-board-ship-miss{
  z-index: 100;
  background-color: gray;
  border-style: solid;
  border-width: 1px;
}

.player-board{
  margin: 20px;
}

.bot-board{
  margin: 20px;
}

.board-letters{
  font-family: 'Potta One', cursive;
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  box-sizing: border-box;
  text-align:center;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.board-status{
  width: 400px;
  height: 40px;
  min-width: 400px;
  max-width: 400px;
  box-sizing: border-box;
  text-align:center;
  left: 40px;
}

.row{
  margin-right: 35px;
}

.board-numbers{
  font-family: 'Potta One', cursive;
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
}
