/* body {
	background-image: url("/assets/statek_tlo.jpeg");
	background-position: center;
    background-repeat: no-repeat;
    width:100%;  
    height:100%; 
    background-size: cover;  
    -moz-background-size: cover;  
    -o-background-size: cover;
    background-attachment: fixed;
    position: fixed;

-webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
filter: blur(3px);

} */

body, html {
    height: 100%;
  }
  

  
  .bg-image {

    background-position: center;
    background-repeat: no-repeat;
    width:100%;  
    height:100%; 
    background-size: cover;  
    -moz-background-size: cover;  
    -o-background-size: cover;
    background-attachment: fixed;
    position: fixed;
    background-image: url("/assets/mapa3.png");
    /* -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px); */
      
  }
  .bg-text {
    transform: translate(0, 0);
    z-index: 2;
    text-align: center;
  }

.button{
  background-color: rgba(0,0,0,0.1) !important;
}

.button:hover {
  background-color: rgba(212, 41, 41, 0.5) !important;
}