
<div class="bg-image"></div>

<div class="bg-text">
    <p *ngIf="isLoggedIn">Ahoj {{user?.displayName}}, wybierz tryb gry!</p>



    <button class="btn btn-primaty mr-2" *ngIf="!isLoggedIn" (click)="register()">Zarejestruj się!</button>
    <button class="btn btn-primaty" *ngIf="!isLoggedIn" (click)="login()">Zaloguj się się!</button>
    <div *ngIf="isLoggedIn">


        <button class="button"><img class="img-responsive" src="assets/bot2.png" (click)="singleplayer()"></button>
        <button class="button"><img class="img-responsive" src="assets/pirates.png" (click)="multiplayer()"></button>
    </div>
</div>

<!-- <body>

    <div class="bg">
        <p>home works!</p>
        <p *ngIf="isLoggedIn">Zalogowany jako: {{user?.email}} {{user?.displayName}}</p>



        <button class="btn btn-primaty mr-2" *ngIf="!isLoggedIn" (click)="register()">Zarejestruj się!</button>
        <button class="btn btn-primaty" *ngIf="!isLoggedIn" (click)="login()">Zaloguj się się!</button>
        <div *ngIf="isLoggedIn">


            <button><img class="img-responsive" src="assets/pirateBot.png" (click)="singleplayer()"></button>
            <button><img class="img-responsive" src="assets/pirateMulti.png" (click)="multiplayer()"></button>
        </div>
    </div>
</body> -->