.bg-image {
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;  
  height:100%; 
  background-size: cover;  
  -moz-background-size: cover;  
  -o-background-size: cover;
  position: fixed;
  background-image: url("/assets/mapa_skarbow_brazowy.png");
}

.board{
  position:fixed;
  left:20%;
  top:50px;
}

.container1 {
  margin: 30px;
  float: right;
  position: relative;
  right: 100px;
  }
  .ship-box
  {
    position:relative;
  }
  .ship-drop-wrapper
  {
    position:absolute;
    top:0;
  }
  .ship-box-cell
  {
    width:40px;
    height:40px;
    background-color:transparent;
    
  }
  .ship-list, #board {
    width: auto;
  }
  .row1
  {
    display:inline-block;
    
  }
  .cell
  {
    width: 40px;
    height: 40px;
  }

  .bt-cell
  {
    width: 40px;
    height:40px;
  }
  .ship-box, .bt-cell{
    height: 40px;
    cursor: move;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    position: relative;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  
  .bt-cell:hover{
    background-color:red;
  }
  .ship-box-set-horizontally{
    position:relative;
    left:4px;
    height: 40px;
    z-index:100;

  }
  .tutaj{
    height: 500px;
  }

  .flex-container {
    display: flex;
  }

  .ship-box-set-vertically
  {
    display: flex;
    z-index:100;

  }
  .ship-box-set
  {
    position:relative;
    z-index:100;
    border:1px solid;
  }

  .ship-drop-wrapper-set-horizontally-board
  { 
    z-index:100;
    margin-left: 0px;
    width: 40px;
  }

  .ships{
    float: right;
    justify-content: right;
  }
  .ship-drop-wrapper-set-horizontally-ships
  {

    margin-left: 1px;
    z-index:100;
    width: 40px;
  }
  
  .ship-drop-wrapper-set-vertically
  { 
    z-index:100;
    margin-right: 2px;
    background-color: rgb(37, 36, 36);
    width: 40px;
  }

  .ship-drop-wrapper-set-vertically
  { 
    z-index:100;
    width: 40px;
  }

  .cdk-drag{
    margin-right: 3px;
    margin-bottom: 3px;
  }
  .ship-box-cell-set
  {
    width:40px;
    height:40px;
    border:1px solid;
    display:inline-block;
    background-color:transparent;
    background-color:brown;
  
    
  }
  .ship-box-cell-set-vertically
  {
    width:40px;
    height:40px;
    border:2px solid;
    display:block;
    background-color:transparent;
    background-color:brown;
    margin-bottom: 2px;
    
  }

  .ship-box-cell-set-horizontally
  {
    width:40px;
    height:40px;
    border:1px solid;
    display:inline-block;
    background-color:transparent;
    background-color:brown;
    
  }
  
  
  .grid-user {
    width: 420px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .grid div {
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0,0,0,0.2) !important;
    
  }


  .ship-box-flex-vertically {
    z-index:100;
    display: flex;
  }

  .cell-size{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    box-sizing: border-box;
    height: 40px;
    border-style: solid;
    background-color: rgba(0,0,0,0.2) ;
    border-width: 1px;
  }

  .player-board-ship-true{
    background-color: rgb(145, 76, 64);
    border-style: solid;
    border-width: 1px;
  }
  .player-board-ship-false{
    border-style: solid;
    border-width: 1px;
  }

  .computer-board-ship-noaction{
    cursor: url(/assets/Bomb.cur),auto;
  }
  .computer-board-ship-hit{
    background-color: red;
    border-style: solid;
    border-width: 1px;
    
  }
  .computer-board-ship-miss{
    background-color: rgba(109, 107, 107, 0.9);
    border-style: solid;
    border-width: 1px;
  }

  .player-board{
    margin: 20px;
    
  }

  .bot-board{
    margin: 20px;
  }

  .board-letters{
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    box-sizing: border-box;
    text-align:center;
    padding-bottom: 20px;

  }
  .board-status{
    font-family: 'Potta One', cursive;
    font-size: 30px;
    width: 400px;
    height: 40px;
    min-width: 400px;
    max-width: 400px;
    box-sizing: border-box;
    text-align:center;
    left: 40px;
  }

  .board-numbers{
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    box-sizing: border-box;
    text-align: center;
  }

