<div class="bg-image"></div>
<div class="container" *ngIf="gameIsPending">
	<div class="row">
		<div class="col player-board">
			<div class="row">
				<div class="col board-letters"></div>
				<div class="col board-letters">A</div>
				<div class="col board-letters">B</div>
				<div class="col board-letters">C</div>
				<div class="col board-letters">D</div>
				<div class="col board-letters">E</div>
				<div class="col board-letters">F</div>
				<div class="col board-letters">G</div>
				<div class="col board-letters">H</div>
				<div class="col board-letters">I</div>
				<div class="col board-letters">J</div>
			</div>
			<ng-container *ngFor="let number of array(10), let i = index">
				<div class="row">
					<div class="col board-numbers">{{i+1}}</div>
					<ng-container *ngFor="let number of array(10), let j = index">
						<div class="col cell-size"
							[class.player-board-ship-true]="playerBoard[i*10 + j].isShip === true"
							[class.player-board-ship-false]="playerBoard[i*10 + j].isShip === false"
							[class.computer-board-ship-hit]="playerBoard[i*10 + j].status == 1"
							[class.computer-board-ship-miss]="playerBoard[i*10 + j].status == 0"> </div>
					</ng-container>
				</div>
			</ng-container>
			<div class="row">

				<div class="col board-status">{{computerHitStatus}}</div>
			</div>
		</div>
		<div class=" col bot-board">
			<div class="row">
				<div class="col board-letters"></div>
				<div class="col board-letters">A</div>
				<div class="col board-letters">B</div>
				<div class="col board-letters">C</div>
				<div class="col board-letters">D</div>
				<div class="col board-letters">E</div>
				<div class="col board-letters">F</div>
				<div class="col board-letters">G</div>
				<div class="col board-letters">H</div>
				<div class="col board-letters">I</div>
				<div class="col board-letters">J</div>
			</div>
			<ng-container *ngFor="let number of array(10), let i = index">
				<div class="row">
					<div class="col board-numbers">{{i+1}}</div>
					<ng-container *ngFor="let number of array(10), let j = index">
						<div class="col cell-size" data-toggle="tooltip" data-placement="div"
							title={{computerBoard[i*10+j].tooltip}}
							[class.computer-board-ship-hit]="computerBoard[i*10 + j].status == 1"
							[class.computer-board-ship-miss]="computerBoard[i*10 + j].status == 0"
							[class.computer-board-ship-noaction]="computerBoard[i*10 + j].status == 2"
							(click)="playerShot(computerBoard[i*10+j])"> </div>
					</ng-container>
				</div>
			</ng-container>
			<div class="row">
				<div class="col board-status">{{playerHitStatus}}</div>
			</div>
		</div>

	</div>
</div>

<div class="container" *ngIf="!gameIsPending">
	<div class="row flex">
		<div class="board" cdkDropList #cdkBoard=cdkDropList [cdkDropListData]="shipsInBoard" [cdkDropListConnectedTo]="[cdkShips]"
			style="position:relative" (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled="true">
			<ng-container *ngFor="let ship of shipsInBoard">
				<div style="position:absolute" [style.top]="ship.top+'px'" [style.left]="ship.left+'px'" cdkDrag
					[cdkDragDisabled]="ship.disabled">
					<div [class.ship-box-set-horizontally]="ship.orientation === 'horizontally'"
						[class.ship-box-set-vertically]="ship.orientation === 'vertically'"
						[style.left]="ship.orientation === 'horizontally' ? (1*ship.mastCount+'px') : 0">
						
						<div [class.ship-drop-wrapper-set-horizontally]="ship.orientation === 'horizontally'"
							[class.ship-drop-wrapper-set-vertically]="ship.orientation === 'vertically'"
							[style.width]="ship.orientation === 'horizontally' ? (40*size)+'px' : 40+'px'"
							[style.height]="ship.orientation === 'horizontally' ? 40+'px' : (40*size)+'px'">
							<div id="i" *ngFor="let i of [0,1,2,3,4].slice(0,ship.mastCount)" (mousedown)="shipPartId=i"
							[class.ship-box-cell-set-horizontally]="ship.orientation === 'horizontally'"
							[class.ship-box-cell-set-vertically]="ship.orientation === 'vertically'"
								 (mousedown)="shipId=ship.id"> </div>
						</div>
					</div>
					<div *cdkDragPlaceholder></div>
				</div>
			</ng-container>
			<div class="grid grid-user">
				<div class="grid" *ngFor="let number of array(100), let i = index" id='columns' #bt mat-button
					class="bt-cell" (mouseover)="shipPositionOnArray = i"
					(mouseover)="position=bt.getBoundingClientRect()"></div>
					<button *ngIf="allShipPlaced" type="button" class="btn btn-success" (click)="startGame()">Rozpocznij
						grę!</button>
					<button *ngIf="!allShipPlaced" type="button" class="btn btn-secondary" disabled data-toggle="tooltip"
						data-placement="bottom" title="Rozmieść wszystkie statki na planszy!"> Rozmieść statki! </button>
			</div>
			
		</div>
		<hr />
		<!-- <div class="row"> -->
			<div class='container1'>
				<div class="ships">
					<h2 class="available-ships">Dostępne statki</h2>
					<div [class.ship-box-flex-horizontally]="shipOrientation === 'horizontally'"
						[class.ship-box-flex-vertically]="shipOrientation === 'vertically'" cdkDropList
						#cdkShips=cdkDropList [cdkDropListData]="ships" class="ship-list"
						[cdkDropListConnectedTo]="[cdkBoard]" (cdkDropListDropped)="drop($event)"
						cdkDropListSortingDisabled="true"class="dziala">

						<ng-container *ngFor="let ship of ships">
							<div cdkDrag
								[style.width]="ship.orientation === 'horizontally' ? (40*ship.mastCount)+(2*ship.mastCount+2)+'px' : 40+'px'"
								[style.height]="ship.orientation === 'horizontally' ? 40+'px' : (40*ship.mastCount)+'px'"
								[style.width]="ship.orientation  === 'vertically' ? 40+'px' : (40*ship.mastCount)+'px'"
								[style.height]="ship.orientation === 'vertically' ? (40*ship.mastCount)+(2*ship.mastCount+2)+'px' : 40+'px'"
								cdkDrag [style.size]="40*ship.mastCount+'px'"
								
								>
								<div [class.ship-box-set-horizontally]="shipOrientation === 'horizontally'"
									[class.ship-box-set-set-vertically]="shipOrientation === 'vertically'"
									>
									
									
									<div [class.ship-drop-wrapper-set-horizontally]="shipOrientation === 'horizontally'"
										[class.ship-drop-wrapper-set-vertically]="shipOrientation === 'vertically'" >
										
										
										
										<div *ngFor="let i of [0,1,2,3,4].slice(0,ship.mastCount)"
											(mousedown)="shipId=ship.id" (mousedown)="shipPartId=i"
											(mousedown)="ship.orientation=shipOrientation"
											(mousedown)="ClickShipOrientation=ship.orientation"
											[class.ship-box-cell-set-horizontally]="ship.orientation === 'horizontally'"
											[class.ship-box-cell-set-vertically]="ship.orientation === 'vertically'"
											(mouseover)="index=i">
											<!-- {{ship.id}}a -->
										</div>
									</div>
									<div *cdkDragPlaceholder></div>
								</div>
								<div *cdkDragPlaceholder></div>
							</div>

						</ng-container>

					</div >
					<div *ngIf="!allShipPlaced">
						<button *ngIf="shipOrientation === 'vertically'" type="button" class="btn btn-success" (click)="changeOrientation()">Zmień na pionowe</button>
						<button *ngIf="shipOrientation === 'horizontally'" type="button" class="btn btn-success" (click)="changeOrientation()">Zmień na poziome</button>
					</div>
					
				</div>
			</div>
		<!-- </div> -->
	</div>